body{

    background-image: url('../img/background.png');
    background-position: center; 
  background-repeat: repeat; 
  background-size: 50%; 
  background-attachment: fixed;
}

.jumbotron{

    background-color: azure;
    color: rgb(0, 0, 0);
}
.card-body{
    color:#000000;
  }

nav {
    background-color:   rgb(0, 170, 170);
    text-align: center;    
    margin-left: center;
    margin-right: center;
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;

}


.content {
    color: rgb(0, 0, 0);
    background-color: #398cfd;
    min-height: 50vh;
    padding: 2em;
}


#nav {
    text-align: center;
    margin-left: center;
    margin-right: center;
}

.footer{

    background-color:   lightgray;
    min-height: 0,2px;
    padding: 0,2px;
    margin-top: 0,2px;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    margin-bottom: -19px
}

